MYSQL_ROOT_PASSWORD=change-this-root-password
EDUSIM_DB_NAME=edusim
EDUSIM_DB_USER=edusim
EDUSIM_DB_PASSWORD=change-this-db-password
EDUSIM_DB_SSL_MODE=DISABLED
EDUSIM_JWT_SECRET=change-this-to-a-very-long-random-secret-key-for-edusim-production
EDUSIM_ALLOWED_ORIGIN_PATTERNS=http://188.166.245.177,https://YOUR_DOMAIN
